{% extends 'base.html' %}

{% block title %}
Check
{% endblock %}

{% block content %}
    <form method="post">
        <label> С </label>
        <input type="date" name="with" required/>
        <label> По </label>
        <input type="date" name="to" required/><br><p></p><br>
        <input type="submit" name="cmd" value="Вывести"/>
    </form>
    {% if checks %}
    
    {% endif %}
    
    {% if count_acts  %}
    	{% for act in count_acts %}
    		<p> Акт № {{ act[1] }} </p>
    		<p> Дата офорления {{ act[2] }} </p>
    		<table>
    		{% for i in range(act[0]) %}
    			<tr>
    				<td>
    					{% if data_acts[-1][2] %}
    						<p> {{ data_tex[data_acts[-1][1] - 1][0]  }} </p>
    					{% else %}
    						<p> {{ data_earth[data_acts[-1][1] - 1][0] }} </p>
    					{% endif %}
    				</td>
    				<td>
    					<p> {{data_acts[-1][3]}}</p>
    				</td>
                    {% if data_acts.pop() %} 
                    {% endif %}
    			</tr>
    		{% endfor %}
    		</table>
    	{% endfor%}
    {% endif %}
{% endblock %}
